/* .MainNav1{
  height: 75px;
}
.MainNav2{
    position: fixed;
    width: 100%;
    z-index: 1; 
    box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.30);
    top: 0;
} */
 .MainNav1{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    box-shadow: rgba(0, 0, 0, 0.722) 1px 1px 15px -1px ;
 }
.nav-link{ 
    display: flex;
    gap: 5px;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    align-items:baseline!important;
    gap: 25px;
}
.MainNavContainer{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    align-items: baseline;
}

.navbar-toggler{
    float: left!important;
    transform: translateY(12%);
}
.navbar-brand  {
    padding: 0 30px;
}
.navbar-brand img {
    width: 90px;
    height: 50px;
}
.NavBarItrms{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(7%);
}
.SignBtn{
    display: flex;
    gap: 13px;
    padding:  0 25px;
}

.CreateBtn{
    background: var(--Main-BackGround);
    color: aliceblue;
    border-radius: 10px;
    padding: 5px 30px;
    text-decoration: none;
}
.loginBtn{
    color: var(--Main-BackGround);
    border: 1px solid var(--Main-BackGround);
    border-radius: 10px;
    padding: 5px 30px;
    text-decoration: none;
}
.UserAvatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.MAinDropdownContainer{
    display: flex;
    align-items: center;
    padding-right: 25px;
}
.MAinDropdownContainer p{
    transform: translate(14%,35%);
}
.dropdown-toggle::after {
    display: none;
}


#dropdown-basic2{
    background: none;
    display: flex;
    color: var(--bs-nav-link-color);
    border: none;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 5px;

}
#dropdown-basic2 img{
    transform: translateY(-25%);
}
.searchDrop{
    text-decoration: none;
    color: var(--Main-BackGround);
}
.notif i{
    margin-left: 2px;
    font-size: 20px;
    transform: translateY(10%);
}
.notif span{
    transform: translate(-85%,-10%);
    padding: 5px 3px;
    font-size: 8px;
    /* width: 15px; */
    height: 15px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    background: var(--Main-BackGround);
    color: antiquewhite;
    border-radius: 50%;
    z-index: 99;
}
@media (max-width:992px) {
    .MainNavContainer{
        display: block;
        width: 95%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        align-items: baseline;
    }
    .NavBarItrms{
        justify-content: center;
        flex-direction: column;
            transform: translateY(0%);

    }
    .navbar-brand  {
        padding: 0;
    }
}


@media (max-width:400px) {
    .loginBtn {
        padding: 5px;
    }
    .CreateBtn {
        padding: 5px;
    }
}