body {
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
  background: var(--Main-BackGround);
  margin-top: 50px;
  font-size: 1.7em;
  width: 85%;
  margin: auto;
  border-radius: 30px;
  padding: 5px 25px;
}

.books-list12 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 20px;
  list-style: none;
  width: 90%;
  margin: auto;
}

.book-item {
  width: 100%;
  max-width: 220px;
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.book-item:hover {
  transform: translateY(-5px);
}

.book-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
}

.book-title {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

.book-description {
  font-size: 0.7rem;
  color: #555;
  margin-bottom: 5px;
  text-align: center;
}

.book-info {
  color: #333;
  font-size: 0.7rem;
  text-align: center;
}

.approve-btn,
.reject-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.7rem;
  transition: background-color 0.3s ease;
  margin: 5px auto;
  display: block;
}

.approve-btn:hover {
  background-color: #0056b3;
}

.reject-btn {
  background-color: #dc3545;
}

.reject-btn:hover {
  background-color: #c82333;
}

.no-books-message-container {
  margin-top: 30px;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.descript {
  height: 50px;
  overflow-y: scroll;
}



.search-container {
  margin: 20px auto;
  text-align: center;
  border-radius: 50px;
} 
.search-input {
  width: 80%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.search-input:focus {
  outline: none;
  border-color: var(--Main-BackGround);
  box-shadow: 0 0 5px #4e342e;
}




@media (max-width: 1024px) {
  .books-list12 {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 768px) {
  .books-list12 {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 16px!important;
    width: 85%;
  }
  .no-books-message{
    font-size: 14px!important;
  }
  .search-input {
    width: 100%!important;
    max-width: 300px!important;
    padding: 7px!important;
    font-size: 13px!important;
  }
}

@media (max-width: 480px) {
  .books-list12 {
    grid-template-columns: 1fr;
  }

  .book-item {
    max-width: 90%;
    padding: 5px;
  }

  .book-image {
    height: 120px;
  }

  .book-title {
    font-size: 0.7rem;
  }

  .book-description {
    font-size: 0.6rem;
  }

  .book-info {
    font-size: 0.6rem;
  }

  .approve-btn,
  .reject-btn {
    font-size: 0.6rem;
    padding: 4px 8px;
  }
}
