
:root {
    --Main-BackGround: #4E342E;

  }
body {
  font-family: 'Cairo', sans-serif; 
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track {
  background: #f0efef; 
}
::-webkit-scrollbar-thumb {
  background: #4E342E; 
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #261916;
}
.hr{
  border-bottom: 1px solid var(--Main-BackGround);
  margin:15px;
}



.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4E342E; 
  border-radius: 50%;
  width: 80px; 
  height: 80px; 
  animation: spin 1.5s linear infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


