:root {
  --Main-BackGround: #4e342e;
}
body {
  font-family: "Cairo", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f0efef;
}
::-webkit-scrollbar-thumb {
  background: #4e342e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #261916;
}
.hr {
  border-bottom: 1px solid var(--Main-BackGround);
  margin: 15px;
}

p,h1,h2,h3,h3,h4,h5,h6,span,strong {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4e342e;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
