.bookPageContainer {
  margin-top: 30px;
  width: 90%;
  margin: auto;
}
.searchContainer2 {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 5px 15px;
  width: 70%;
  margin: auto;
}
  
  .iconWrapper2 {
    margin-right: 10px;
  }
  
  .inputArea2 {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    width: 100%;
  }
  
  .actionButton2 {
    background-color: var(--Main-BackGround);
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    margin-left: -10px;
  }
  
  
  .Breadcrumb{
    display:flex ;
    gap: 10px;
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    z-index: -1;
}

.Breadcrumb a{
    text-decoration: none;
    color: var(--Main-BackGround);
}
  

    .no-data-message{
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        color: var(--Main-BackGround);
        margin-top: 50px;
        font-size: 30px;
        text-decoration:underline;
    }


    @media (max-width:1000px) {
      .Breadcrumb{
        margin-left: 15px;
    }
    }
    @media (max-width:591px) {
      .Breadcrumb p{
        font-size: 9px;
      }
      .Breadcrumb a{
        font-size: 9px;
      }
      .Breadcrumb img{
        width: 14px;
        height: 14px;
      }
      .bookPageContainer {
        margin-top: 10px;
      }
    }

  @media (max-width:992px) {
    .searchContainer2 {
        width: 85%;
      }
}

@media (max-width:750px) {
    .searchContainer2 {
        width: 85%;
      }
}

  @media (max-width:369px) {
      .searchContainer2 {
          width: 85%;
        }
  }