.Breadcrumb{
    display:flex ;
    gap: 10px;
    position: absolute;
    top: 15%;
    left: 8%;
}
.Breadcrumb a{
    text-decoration: none;
    color: var(--Main-BackGround);
}




.main-container {
    direction: rtl;
    padding: 100px 20px;
    font-family: Arial, sans-serif;
    width: 85%;
    margin: auto;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 20px;
  }
  

  .dropdown-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .dropdown-header {
    padding: 15px;
    font-weight: bold;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown-header:hover {
    background-color: #e0e0e0;
  }
  
  .arrow-icon {
    transition: transform 0.3s ease;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
  
  .dropdown-content {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    background-color: #fafafa;
  }
  
  .dropdown-item {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }




  .addauthorbtn{
    display: flex;
    gap: 5px;
    position: absolute;
    top: 15%;
    right: 8%;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
  }
  .addauthorbtn2{
    display: flex;
    gap: 5px;
    position: absolute;
    top: 15%;
    right: 22%;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
  }

  


  @media (max-width: 600px) {
    .main-container {
      padding: 15px;
      width: 100%;
    }
  
    h1 {
      font-size: 20px;
    }
  
    .search-input {
      font-size: 14px;
    }
  
    .dropdown-item {
      font-size: 13px;
    }
  }
  