.CustomizeHeight {
  height: 100vh;
  box-shadow: black 1px 5px 29px 1px;
}
.MainHomeImg {
  position: absolute;
  z-index: -99;
  width: 100%;
}
.MainHomeImg img { 
  width: 100%;
  height: 100vh; 
}
@media (max-width: 767px) {
  .CustomizeHeight {
    height: 80vh;
  }
  .MainHomeImg img { 
    height: 80vh;
    object-fit: cover;
  }
}
.MainHeadlineContainer {
  width: 50%;
  margin: auto;
  transform: translateY(80%);
  text-align: center;
}
.headLineText {
  text-align: center;
}
.headLineText h3 {
  color: var(--back-ground, #fbfbfb);
  text-align: center;
  font-family: Amiri;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.headLineText h4 {
  color: var(--back-ground, #fbfbfb);
  text-align: center;
  font-family: Amiri;
  font-style: normal;
  font-weight: 400;
  line-height: 67px;
}
.searchContainer {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding: 5px 15px;
  width: 100%;
  margin: auto;
}
.iconWrapper {
  margin-right: 10px;
}
.inputArea {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  width: 100%;
}
.actionButton {
  background-color: var(--Main-BackGround);
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  margin-left: -10px;
}
.actionButton:hover{
  background-color: rgb(75, 19, 2);
  color: white;
}
.HeadLinks2 {
  margin-top: 35px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.HeadLinks2 a button {
  background: none;
  color: #f5f5f5;
  border: solid 1px white;
  padding: 10px;
  border-radius: 20px;
}
.CardSecContainer {
  margin-top: 50px;
}
.CardSecHeadLine {
  background: var(--Main-BackGround);
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 3px;
  border-radius: 33px;
  color: white;
  width: 80%;
  margin: auto;
}
.betweenItems1 {
  display: flex;
  gap: 10px;
}
.betweenItems1 p {
  font-size: 22px;
}
.betweenItems2 {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}
.betweenItems2 i{
  transform: translateY(-30%);
}
.betweenItems2 img {
  transform: translateY(55%);
}
.Maincards {
  padding-top: 10px;
  max-width: 100%;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  /* max-width: 660px;  */
  gap:10px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 25px;
}
.cardmaincont{
  min-width: 180px;
  max-width:220px;
  margin: auto;
}
.MaincardsAuthor {
  padding-top: 10px;
  max-width: 100%;
  width: 79%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 25px;
}
.CardCont {
  position: relative;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.30);
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  flex-direction: column; 
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.CardCont:hover {
  transform: scale(1.01); 
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.4); 
  background-color: #f0f0f0; 
}
.CardContAuthor {
  border-radius: 20px;
  background: #FFF;
  box-shadow: 1px 4px 10px 0px rgba(0, 0, 0, 0.30);
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  width: 100%;
  height: 100%;
  padding: 0;
}
.CardContAuthor:hover {
  transform: scale(1.01); 
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.4); 
  background-color: #f0f0f0; 
}
.CardImg44{
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
} 
.CardImg44Author{
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.lastCardSec{
  text-align: center;
  transform: translateY(-30%);
}
.lastCardSec h6{
  color: #000;
  width: 150px;
  margin: auto;
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .cardmaincont2{
  min-width: 200px;
} */
.lastCardSec p{
  color: #4E342E;
  font-size: 15px;
}
.lastCardSecAuthor{
  text-align: center;
}
.lastCardSecAuthor h6{
  color: #000;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2px;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.bookNum{
  display: flex;
  justify-content: center;
  gap: 8px;
  color: #646363;
  font-size: 16px;
}

.AuthorImg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
}
.notFundTxt{
  color: var(--Main-BackGround);
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.star-rating {
  display: flex;
  position: absolute;
  bottom: 10px;

}
.star {
  font-size: 22px;
  color: #ccc;
}
.star.full {
  color: var(--Main-BackGround);
}
.star.half {
  color: var(--Main-BackGround);
  position: relative;
  overflow: hidden;
  width: 12px;
}
.star.empty {
  color: #ccc;
}
@media (max-width: 1024px) {
  .MainHeadlineContainer {
    transform: translateY(50%);
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
  }
  .Maincards {
    grid-template-columns: repeat(4, 1fr);
  }

  .MaincardsAuthor {
    grid-template-columns: repeat(4, 1fr);
  }
  .lastCardSec h6{
    font-size: 18px;
  }
  .lastCardSec p{
    font-size: 14px;
  }
  .star {
    font-size: 17px;
  }
  .lastCardSec h6{
    font-size: 18px;
  }
  .lastCardSecAuthor h6{
    font-size: 18px;
  }
  .bookNum img{
    transform: translate(-100%, 41%);
  }
}
@media (max-width: 992px) {
  .MainHeadlineContainer {
    transform: translateY(50%);
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
  }
  .Maincards {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  .MaincardsAuthor {
    grid-template-columns: repeat(4, 1fr);
  }
  .lastCardSec h6{
    font-size: 16px;
  }
  .lastCardSec p{
    font-size: 12px;
  }
  .star {
    font-size: 15px;
  }
  .CardCont {
    width: 100%;
  }
  .CardContAuthor {
    width: 100%;
  }
  .lastCardSecAuthor h6{
    font-size: 16px;
  }
  .bookNum p{
    font-size: 14px;
  }
}
@media (max-width: 791px) {
  .lastCardSecAuthor h6{
    font-size: 16px;
  }
  .bookNum p{
    font-size: 14px;
  }
  .headLineText h4 {
    line-height: 47px;
  }
}
@media (max-width: 752px) {
  .MainHeadlineContainer {
    transform: translateY(50%);
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
  }
  .Maincards {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  .MaincardsAuthor {
    width: 96%;
    grid-template-columns: repeat(4, 1fr);
  }
  .lastCardSec{
    transform: translateY(-35%);
  }
  .lastCardSec h6{
    font-size: 13px;
  }
  .lastCardSec p{
    font-size: 9px;
  }
  .star {
    font-size: 12px;
  }
  .CardCont {
    width: 100%;
    height: 95%;
  }
  .CardContAuthor {
    width: 100%;
    height: 95%;
  }
  .lastCardSecAuthor h6{
    font-size: 12px;
  }
  .bookNum p{
    font-size: 10px;
  }
  .CardImg44 {
    height: 110px;
  }
  .CardImg44Author {
    height: 110px;
  }
  .MainHeadlineContainer {
    width: 80%;
  }
}
@media (max-width: 552px) {
  .MainHeadlineContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .Maincards {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .cardmaincont{
    min-width: 110px;
    max-width: 180px;
    margin: auto;
  }
  .MaincardsAuthor {
    grid-template-columns: repeat(3, 1fr);
  }
  .headLineText h3 {
    line-height: 20px;
  }
  .headLineText h4 {
    line-height: 37px;
  }
  .lastCardSec h6 {
    font-size: 13px;
  }
  .lastCardSec p {
    font-size: 9px;
  }
  .star {
    font-size: 12px;
  }
  .CardSecHeadLine {
    padding: 10px 25px 0px;
    width: 95%;
    margin: auto;
  }
  .betweenItems1 p {
    font-size: 12px;
  }
  .betweenItems2 p {
    font-size: 12px;
  }
  .betweenItems2 {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #fff;
  }
  .betweenItems1 img {
    width: 25px;
    height: 25px;
    transform: translateY(-10%);
  }
  .betweenItems2 img {
    transform: translateY(55%);
    width: 10px;
    height: 10px;
  }
  .CardCont {
    width: 100%;
  }
  .CardContAuthor {
    width: 100%;
  }
  .MainHeadlineContainer {
    width: 80%;
  }
  .headLineText h3 {
    font-size: 24px;
    line-height: 20px;
  }
  .headLineText h4 {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 50px;
  }
}
@media (max-width: 402px) {
  .MainHeadlineContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
  }
  .Maincards {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .cardmaincont{
    max-width: 150px;
    margin: auto;
  }
  .MaincardsAuthor {
    grid-template-columns: repeat(2, 1fr);
  }
  .lastCardSec h6 {
    font-size: 13px;
    width: 147px;
  }
  .lastCardSec p {
    font-size: 9px;
  }
  .star {
    font-size: 12px;
  }
  .CardSecHeadLine {
    padding: 10px 25px 0px;
    width: 95%;
    margin: auto;
  }
  .betweenItems1 p {
    font-size: 12px;
  }
  .betweenItems2 p {
    font-size: 12px;
  }
  .betweenItems2 {
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: #fff;
  }
  .betweenItems1 img {
    width: 25px;
    height: 25px;
    transform: translateY(-15%);
  }
  .betweenItems2 .iifram {
    transform: translateY(-40%);
  }
  .CardCont {
    width: 100%;
  }
  .CardContAuthor {
    width: 100%;
  }
  .headLineText h3 {
    font-size: 26px;
    line-height: 40px;
  }
  .headLineText h4 {
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 90px;
  }
}
